@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?304b2a');
  src:  url('../fonts/icomoon.eot?304b2a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?304b2a') format('truetype'),
    url('../fonts/icomoon.woff?304b2a') format('woff'),
    url('../fonts/icomoon.svg?304b2a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-C-Sharp-01 .path1:before {
  content: "\e901";
  color: rgb(56, 136, 189);
}
.icon-C-Sharp-01 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(56, 136, 189);
}
.icon-C-Sharp-01 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(56, 136, 189);
}
.icon-C-Sharp-01 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(56, 136, 189);
}
.icon-C-Sharp-01 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C-Sharp-01 .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C-Sharp-01 .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C-Sharp-01 .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-C-Sharp-01 .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-jenkins:before {
  content: "\e900";
}
.icon-jquery:before {
  content: "\e90a";
}
